body{
   
    background-color: #d4b895 ;
    font-family:'Courier New', Courier, monospace;
    transition: background-color 1s ease;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    text-align: center;
    gap: 15px;

}
nav{
    background-color: #eccca5;
    border-bottom: 1px solid white;
    margin-bottom: 8px;
    transition: background-color 1s ease;
}
.dark-mode {
    background-color: #151e21;
    color: lightgray;
    transition: background-color 1s ease;
  }
.dark-mode .caja, .dark-mode nav {
    background-color: #444; /* color de fondo en modo oscuro */
    transition: background-color 1s ease;
    border: 1px solid grey
}
.dark-mode a, .dark-mode .mdal {
    color: lightgray;
}
.dark-mode .btn{
    color: lightgray;
    background-color: #A0A7AC;
}
.dark-mode .modal-body,.dark-mode .modal-header, .dark-mode .modal-footer {
    background-color: #444;  /* color de fondo en modo oscuro */
  }
.a{
    text-decoration: none;
    color: black;
    }
.pr{
    margin-top: 10px;
    color: black;
}
.lateral{
    font-size: larger;
    font-weight: bold;
    color: gray;
}
.iconos{
    font-size: 30px;

}
.cuenta{
    margin-right: 50px;
}
li{
    list-style: none;
}
.lista{
    margin-right: 40px;
    font-weight: bold;
    list-style: none;
    font-size: 30px;
    padding: 30px;
}
textarea{
    border-radius:5px;

    }
.padding{
    padding: 50px;
}
.btn{
    margin-top: 30px;
    background-color: #e7e7e7;
    border: 1px solid black;
    color: black;
}
.lupa{
    font-size: 30px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.feed{
    width: 100%;
    grid-row:1/4;
}
.btn:hover a{
    color: white;
}
.account{
    width: 100%;
   grid-row: 4/6;
}
.caja{
    border: 1px solid white;
    background-color: #eccca5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    transition: background-color 1s ease;
    
}
.amigo{
    height: 150px;
    background-color: #eccca5;
    box-sizing: content-box;
}
textarea{
    width: 300px;
}
.barra{
    box-sizing: content-box;
    display: flex;
    grid-column: 2/6;
    align-items: center;
    justify-content: space-between;
    height:90px;
    padding: 20px;
    font-size: large;
}
ion-icon{
    font-size: 70px
   
}
.titulo{
    font-weight:bold;
    font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
}
.uno{
    background-color: grey;
}
.dos{
    background-color: olive;
}

.ver{
    background-color: rgb(180, 94, 13);
    
}
button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
 }
button:hover{
    background-color: rgba(165, 108, 42, 0.863);
    color: white;
}
footer{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.trs{
    background-color:transparent;
    border: none;
    margin-top: 7px;
    color: rgb(0 0 0 / 65%);
    
}
.trs:hover{
    background-color: transparent;
    color: rgb(0 0 0 / 65%);;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    margin: 0 auto;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

  
  
  input:checked + .slider {
    background-color: #151e21;
    border-radius: 20px;
    border: 1px solid grey;
}
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

  }
  @media (max-width:992px) {
    .de{
        margin-right: 0;
    }

    
    
  }
@media screen and (max-width:400px) {
    .feed{
        width: 100px;

    }
    li{
        font-size: smaller;
    }
    ul{
        margin-right: 50px;
    }
    .account{
        width: 100px;
    }
    .barra{
        width: 200px;
    }
    .amigo{
        width: 100%;
    }
    ion-icon{
        width: 50%;
    }
    textarea{
       width: 100px
    }
    .lupa{
        width: 10px;
    }
    .titulo{
        font-size: 20px;
    }
    button{
        width: 40px;
        font-size: 10px;
    }
    .texto{
        font-size: 12px
    }
    .box{
        grid-template-columns:repeat(1fr)
    }
}
