body{
    background-color: #d4b895;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 1s ease;
}
nav{
    background-color: #eccca5;
    border-bottom: 1px solid white;
    transition: background-color 1s ease;
}
.de{
    margin-right: 150px;
  }
.dark-mode {
    background-color: #151e21;
    color: #fff;
    transition: background-color 1s ease;
  }
  .dark-mode nav, .dark-mode .panel, .dark-mode .a, .dark-mode .a:hover  {
    background-color: #444; /* color de fondo en modo oscuro */
    transition: background-color 1s ease;
    color: white;
  }
  .dark-mode button.accordion.active {
    background-color: #726a6a;
    color: #fff;
  }
.pr{
    margin-top: 10px;
    color: black;
}

header{
    margin-top: 3%;
    text-align: center;
}

/* Estilos para los botones "accordion" */
button.accordion {
    background-color: #d4b895;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.2s;
    border-radius: 5px;
    border: 1px solid white;
}
/* Estilos para los botones "accordion" cuando están activos */
button.accordion.active, button.accordion:hover {
    background-color: #d4b895;
}
/* Estilos para los paneles que se expanden */
div.panel {
    padding: 0 18px;
    background-color: #eccca5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    transition: background-color 1s ease; 
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

ul{
    list-style: none;
}

footer{
    color: #fff;
    text-align: center;
    margin-top: 25%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    margin: 0 auto;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

  
  
  input:checked + .slider {
    background-color: #151e21;
    border-radius: 20px;
    border: 1px solid grey;
}
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

  }

  .contador{
    border: black solid 1px;
    width: 40px;
    height: 28px;
    border-radius: 15%;
    background-color: lightgray;
    
  }
  @media (max-width:992px) {
    .de{
        margin-right: 0;
    }
  
    
    
  }
