@media (max-width: 991px) { 
    .central{
        width: 90%;
        margin-top: 20px;
        text-align: center;
    }
    .fixed{
        display: none;
    }
    .derecha{
        position: static;
        width: 90%;
        margin: 20px auto;
        height: fit-content;
        
    }
    .izquierda{
        position: static;
       width: 90%;
       margin: 20px auto;
       height: fit-content;

    }

   
    .botones{
        width: 90%;
    }
  
}