body{
    background-color:#d4b895;
    text-align: center;
}

.nav{
    position: sticky;
    top:0
}

.nav-tabs{
    background-color: #ECCCA5;
}
.pr{
    margin-top: 10px;
    color: black;
}

.photo{
    margin: 10px;
}

h1{
    color: black;
    font-size: 40%px;
    font-style: normal;
    font-family:'Courier New', Courier, monospace;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


h2{color:rgb(0, 60, 109);
    
}

h3{color:rgb(197, 130, 141);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size:20px;

}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    text-align: justify;
    list-style-type: square;
    font-family: 'Courier New', Courier, monospace;
}


.photo{
    border-radius:2px;

}

.container{
    border: black solid;
    border-width: 1px 1px 1px 1px;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    width: 60%;
    

text-align: center;
}

footer{
    color: white;
    margin-top: 170px;
}