body{
    background-color:#d4b895;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #ECCCA5;
    border-bottom:1px solid white;
}
.photo{
    margin: 10px;
}
.btn{
    background-color: #e7e7e7;
    color:black;
    border:1px solid black ;
}
ul{
    text-align: center;
    list-style-type: square;
    font-family: 'Courier New', Courier, monospace;
}
li{
    list-style: none;
}
.photo{
    border-radius:2px;
}
footer{
    color: white;
    margin-top: 170px;
}
.trs{
    background-color:transparent;
    border: none;
    margin-top: 7px;
}
.panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}