@media screen and (max-width: 700px) {
  
  .twitter{
    width: fit-content;
  }

  .divtitulo{
  
    width: fit-content;
  border: green solid;
  }

  .Ingresa{
    border: red solid;
   

  }
  input{
    width: 110px;
    }

    .form-control{
      color: rgb(0, 13, 255);
     
        font-size: 14px;
        
    }
}

@media screen and (max-width: 600px) {
  
  .twitter{
    width: fit-content;
  }

  .Ingresa{
    border: red solid;
    
  }

  h1{
    font-size: 25px;
  }

  p{
    font-size: 1px;
    
  }

  input{
    width: 110px;
    }

    .form-control{
      color: rgb(0, 13, 255);
     
        font-size: 13px;
        
    }
}


@media screen and (max-width: 528px) {
  
  .twitter{
    width: fit-content;
  }

  .uno{
    text-align:center;
  }

  .Ingresa{
    border: red solid;
   
  }
  input{
    width: 110px;
    }

    .form-control{
      color: rgb(0, 13, 255);
        font-size: 12.6px;
     
        
    }
}


@media (max-width: 400px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  
  .twitter{
    width: fit-content;
  }

  .uno{
    text-align:center;
  }

  .Ingresa{
    border: red solid
  }


  input{
    width: 110px;
    }

    .form-control{
      color: rgb(0, 13, 255);

    }
}