body{
  text-align: center;
  background-color:#d4b895;
  font-family:'Courier New', Courier, monospace;}

  nav{
    background-color: #eccca5;
    border-bottom: 1px solid white;
    
}

.pr{
    margin-top: 10px;
    color: black;
}
 
.contenedor-registra{
  width: 80%;
  margin: 0 auto;
  background-color: #d4b895;
}

h1{
  font-size: 27px;
}

.divtitulo{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  color: black;
  background-color: #eccca5;
  border: 1px white solid;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px black;
}

.twitter{
    border-radius:50%; 
    border-color:1px black solid;
    width: fit-content;
    height: 255px;
    display: block;
    margin: 0 auto;
}

.Ingresa{
padding-top: 15px;
width: fit-content;
margin: 0 auto;
border: 2px white solid;
border-radius: 3%;
box-shadow: 1px 1px 1px black;
background-color:#eccca5 ;
box-sizing: content-box;
}

.uno{
  margin: 5px;
  text-align: justify;
}

.dos{
  margin-bottom: 10px;
  justify-content: center;
}

button{
  margin-top: 35px;
  
    border: 2px solid lightgrey;
    transition: transform 0.3s , background-color 0.3s, color 0.3s ;
    border-radius: 5px;
}

.Login{
  background-color: rgba(165, 108, 42, 0.863);
  border-radius: 12%;
  width: auto;
  transition: transform 0.3s , background-color 0.3s, color 0.3s ;
  margin-top: 2px;
}

.Login:hover{
  transform: translateY(-10px);
  background-color: lightblue;
  color: white;
}

footer{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 170px;
}

.reset{
  border: 1px solid black;
}
@media screen and (max-width: 1500px) {
 
  h1{
      font-size: 27px;

  }
  .divtitulo{
    width: fit-content;
  }

  .twitter{
    width: fit-content;
  }
  .contenedor-registra{
width: fit-content;
  }
  .Ingresa{
    width: fit-content;
  } 
  p{
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {

.divtitulo{width: fit-content;

}
  h1{
      font-size: 23px;
  }

  .twitter{
    width: fit-content;
  }

  .contenedor-registra{
width: fit-content;
  }

  .Ingresa{
    width: fit-content;
  }

  p{
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  .divtitulo{
    width: fit-content;
  }
  h1{
      font-size: 23px;
  }

  .twitter{
    width: fit-content
  }

  .contenedor-registra{
width: fit-content;
  }

  .Ingresa{
    width: fit-content;
  }
  .uno{
    text-align:center;
  }
  p{
    font-size: 12px;
  }

  input{
    width: 110px;
    }
}

@media screen and (max-width: 780px) {
  .divtitulo{
    width: fit-content;
  }

  h1{
      font-size: 20px;
  }

  .twitter{
    width: fit-content;
  }

  .contenedor-registra{
width: fit-content;
  }

  .Ingresa{
    width: fit-content;
  }

  p{
    font-size: 12px;
  }

  input{
    width: 110px;
    }
   

}
